#header-img{
  width: 300px;
  height: 40px;
  margin: 10px 0 0 20px;
}

#header{
width: 100%;
position: fixed;
top: 0;
display: flex;
justify-content: between;
}

nav{
width: 100%;
display: flex;
justify-content: flex-end;
}

#nav-bar {
margin-right: 50px;
}

li{
color: black;
list-style-type: none;
float: left;
padding: 0 10px;
}

a {
text-decoration: none;
color: #000;
font-size: 20px;
}

#form-section {
margin: 100px 100px;
display: flex;
align-items: center;
}

#how-it-works{
width: 100%;
margin: 80px 400px;  
}

#video {
width: 1000px;
height: 500px;
margin-left: auto;
margin-right: auto;
}

@media (max-width: 650px) {
nav > ul {
  flex-direction: column;
}
}
